<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerLink}}
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->

                    <div class="col-md-6 col-12 main_header_right" style="height: 470px;">
                        <figure >
                            <img  src="images/myimage2.jpg">
                        </figure>
                               </div>

                                 <!--  right side div-->
                    <div class="col-md-6 col-12 main_header_left align-items-right" style="height: 470px;">
                        <p>Welcome to my Weather page</p>
                        <h1>I am a <span class="text_clr">MERN</span> Stack Devloper</h1>
                        <a href="https://maheshwankhade-portfolio.netlify.app/" target="_blank"><button>About Me</button></a>

                    </div>
                  
              
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    <footer>
        <p>created  by @MaheshPatil</p>
    </footer>
</body>

</html>